<div class="title">

<img src="img/icon.png" width="64px" height="64px" >
<!-- <img ng-src="{{app.icono}}" width="64px" height="64px" > -->
<span>{{app.nombre}}</span>


</div>
<hr>

  <span>
    <a class="button app install"  href="http://apache.dattatec.com//httpd/httpd-2.4.9.tar.bz2" >
       Instalar
    </a>
  </span>
<hr>
<p>{{app.descripcion}}</p>

<ul class="details">
  <li>
    <span>Aplicación</span>
    
    <dl>
      <dt>Version</dt>
      <dd>{{app.versionActual}}</dd>
    </dl>

    <dl>
      <dt>Ranking</dt>
      <dd>{{app.ranking}}</dd>
    </dl>
  </li>

</ul>

