<div class="title">

<img src="img/icon.png" width="64px" height="64px" >
<!-- <img ng-src="{{app.icono}}" width="64px" height="64px" > -->
<span>{{app.nombre}}</span>


</div>
<hr>
 <span><a class="button app install" href="{{app.ejecutable}}" >Instalar</a></span>
<hr>
<p>{{app.descripcion}}</p>

<ul class="details">
  <li>
    <span>Aplicación</span>
    
    <dl>
      <dt>Version</dt>
      <dd>{{app.version}}</dd>
    </dl>

    <dl>
      <dt>Tamaño</dt>
      <dd>{{app.peso}}</dd>
    </dl>
  </li>

</ul>

